In [1]:
import os
os.getcwd()

'C:\\Users\\nkshe'

In [2]:
os.chdir("Desktop/ML-Project")

In [3]:
import pandas as pd

In [4]:
file = pd.read_csv("mlproject.csv")

In [10]:
file.dtypes

Station Number           int64
State                   object
Temp Min               float64
Temp Max               float64
DO Min                 float64
DO Max                 float64
pH Min                 float64
pH Max                 float64
Conductivity Min       float64
Conductivity Max       float64
BOD Min                float64
BOD Max                float64
Nitrate Min            float64
Nitrate Max            float64
Faecal Coliform Min      int64
Faecal Coliform Max      int64
Total Coliform Min     float64
Total Coliform Max       int64
dtype: object

In [27]:
file

,Station Number,State,Temp Min,Temp Max,DO Min,DO Max,pH Min,pH Max,Conductivity Min,Conductivity Max,BOD Min,BOD Max,Nitrate Min,Nitrate Max,Faecal Coliform Min,Faecal Coliform Max,Total Coliform Min,Total Coliform Max
0,1867,HIMACHAL\n PRADESH,9.0,12.0,9.7,10.1,6.80,8.00,92.0,366.0,0.1,0.2,0.2,0.200,2,2,20.0,20
1,2611,HIMACHAL\n PRADESH,9.0,12.0,9.7,10.1,6.70,7.90,84.0,327.0,0.1,0.5,0.2,0.500,2,2,20.0,20
2,1389,HIMACHAL\n PRADESH,12.0,17.0,9.1,9.6,6.80,8.10,92.0,330.0,0.1,0.5,0.2,0.400,2,2,20.0,20
3,1086,HIMACHAL\n PRADESH,14.0,17.0,8.8,9.8,6.96,7.99,107.0,309.0,0.1,0.4,0.2,0.340,2,2,21.0,21
4,1087,HIMACHAL\n PRADESH,14.0,17.0,8.7,9.2,6.91,8.04,102.0,298.0,0.1,0.2,0.2,0.513,2,2,25.0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,3024,TAMIL NADU,25.0,32.0,0.5,2.1,6.60,8.30,630.0,4300.0,10.2,70.0,0.1,2.900,630,2200000,1200.0,1700
386,1641,ODISHA,15.0,32.0,6.4,8.2,7.50,8.30,154.0,337.0,0.3,2.1,0.2,7.300,130,16000,10.0,200
387,2397,JHARKHAND,22.5,29.0,7.5,8.6,7.30,7.60,278.0,278.0,0.3,3.0,0.1,1.000,150,230,2200.0,3500000
388,1641,ODISHA,15.0,32.0,6.4,8.2,7.50,8.30,154.0,337.0,0.3,2.1,0.2,7.300,130,16000,330.0,54000
389,2397,JHARKHAND,22.5,29.0,7.5,8.6,7.30,7.60,278.0,278.0,0.3,3.0,0.1,1.000,150,230,930.0,1500

In [17]:
import numpy as np

In [31]:
file_proc = file.drop(['Conductivity Min','Conductivity Max','Total Coliform Min','Total Coliform Max'],axis= 1)

In [32]:
file_proc

,Station Number,State,Temp Min,Temp Max,DO Min,DO Max,pH Min,pH Max,BOD Min,BOD Max,Nitrate Min,Nitrate Max,Faecal Coliform Min,Faecal Coliform Max
0,1867,HIMACHAL\n PRADESH,9.0,12.0,9.7,10.1,6.80,8.00,0.1,0.2,0.2,0.200,2,2
1,2611,HIMACHAL\n PRADESH,9.0,12.0,9.7,10.1,6.70,7.90,0.1,0.5,0.2,0.500,2,2
2,1389,HIMACHAL\n PRADESH,12.0,17.0,9.1,9.6,6.80,8.10,0.1,0.5,0.2,0.400,2,2
3,1086,HIMACHAL\n PRADESH,14.0,17.0,8.8,9.8,6.96,7.99,0.1,0.4,0.2,0.340,2,2
4,1087,HIMACHAL\n PRADESH,14.0,17.0,8.7,9.2,6.91,8.04,0.1,0.2,0.2,0.513,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,3024,TAMIL NADU,25.0,32.0,0.5,2.1,6.60,8.30,10.2,70.0,0.1,2.900,630,2200000
386,1641,ODISHA,15.0,32.0,6.4,8.2,7.50,8.30,0.3,2.1,0.2,7.300,130,16000
387,2397,JHARKHAND,22.5,29.0,7.5,8.6,7.30,7.60,0.3,3.0,0.1,1.000,150,230
388,1641,ODISHA,15.0,32.0,6.4,8.2,7.50,8.30,0.3,2.1,0.2,7.300,130,16000
389,2397,JHARKHAND,22.5,29.0,7.5,8.6,7.30,7.60,0.3,3.0,0.1,1.000,150,230

In [55]:
# duplicate
duplicateRowsDF = file_proc[file_proc.duplicated()]
duplicateRowsDF

,Station Number,State,Temp Min,Temp Max,DO Min,DO Max,pH Min,pH Max,BOD Min,BOD Max,Nitrate Min,Nitrate Max,Faecal Coliform Min,Faecal Coliform Max
388,1641,ODISHA,15.0,32.0,6.4,8.2,7.5,8.3,0.3,2.1,0.2,7.3,130,16000
389,2397,JHARKHAND,22.5,29.0,7.5,8.6,7.3,7.6,0.3,3.0,0.1,1.0,150,230

In [33]:
file_proc.shape

(390, 14)

In [34]:
file_proc.iloc[:,2:14]

,Temp Min,Temp Max,DO Min,DO Max,pH Min,pH Max,BOD Min,BOD Max,Nitrate Min,Nitrate Max,Faecal Coliform Min,Faecal Coliform Max
0,9.0,12.0,9.7,10.1,6.80,8.00,0.1,0.2,0.2,0.200,2,2
1,9.0,12.0,9.7,10.1,6.70,7.90,0.1,0.5,0.2,0.500,2,2
2,12.0,17.0,9.1,9.6,6.80,8.10,0.1,0.5,0.2,0.400,2,2
3,14.0,17.0,8.8,9.8,6.96,7.99,0.1,0.4,0.2,0.340,2,2
4,14.0,17.0,8.7,9.2,6.91,8.04,0.1,0.2,0.2,0.513,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
385,25.0,32.0,0.5,2.1,6.60,8.30,10.2,70.0,0.1,2.900,630,2200000
386,15.0,32.0,6.4,8.2,7.50,8.30,0.3,2.1,0.2,7.300,130,16000
387,22.5,29.0,7.5,8.6,7.30,7.60,0.3,3.0,0.1,1.000,150,230
388,15.0,32.0,6.4,8.2,7.50,8.30,0.3,2.1,0.2,7.300,130,16000
389,22.5,29.0,7.5,8.6,7.30,7.60,0.3,3.0,0.1,1.000,150,230

In [35]:
data = np.array(file_proc.iloc[:,2:14])

In [36]:
data

array([[9.00e+00, 1.20e+01, 9.70e+00, ..., 2.00e-01, 2.00e+00, 2.00e+00],
       [9.00e+00, 1.20e+01, 9.70e+00, ..., 5.00e-01, 2.00e+00, 2.00e+00],
       [1.20e+01, 1.70e+01, 9.10e+00, ..., 4.00e-01, 2.00e+00, 2.00e+00],
       ...,
       [2.25e+01, 2.90e+01, 7.50e+00, ..., 1.00e+00, 1.50e+02, 2.30e+02],
       [1.50e+01, 3.20e+01, 6.40e+00, ..., 7.30e+00, 1.30e+02, 1.60e+04],
       [2.25e+01, 2.90e+01, 7.50e+00, ..., 1.00e+00, 1.50e+02, 2.30e+02]])

In [39]:
data.shape

(390, 12)

In [47]:
final_col_list = []
for i in range(0,12,2):
    col_mean = (data[:,i] + data[:,i+1])/2
    final_col_list.append(col_mean)

# transpose this
tmp_arr = np.array(final_col_list)

In [49]:
# convert this to pandas dataframe
tmp_arr.T

array([[1.050e+01, 9.900e+00, 7.400e+00, 1.500e-01, 2.000e-01, 2.000e+00],
       [1.050e+01, 9.900e+00, 7.300e+00, 3.000e-01, 3.500e-01, 2.000e+00],
       [1.450e+01, 9.350e+00, 7.450e+00, 3.000e-01, 3.000e-01, 2.000e+00],
       ...,
       [2.575e+01, 8.050e+00, 7.450e+00, 1.650e+00, 5.500e-01, 1.900e+02],
       [2.350e+01, 7.300e+00, 7.900e+00, 1.200e+00, 3.750e+00, 8.065e+03],
       [2.575e+01, 8.050e+00, 7.450e+00, 1.650e+00, 5.500e-01, 1.900e+02]])

In [52]:
# final_preprocessed data
final_df = pd.DataFrame(tmp_arr.T,columns = ['Temp','DO','pH','BOD','Nitrate','Faecal Coliform'])
final_df

      Temp    DO     pH    BOD  Nitrate  Faecal Coliform
0    10.50  9.90  7.400   0.15   0.2000              2.0
1    10.50  9.90  7.300   0.30   0.3500              2.0
2    14.50  9.35  7.450   0.30   0.3000              2.0
3    15.50  9.30  7.475   0.25   0.2700              2.0
4    15.50  8.95  7.475   0.15   0.3565              2.0
..     ...   ...    ...    ...      ...              ...
385  28.50  1.30  7.450  40.10   1.5000        1100315.0
386  23.50  7.30  7.900   1.20   3.7500           8065.0
387  25.75  8.05  7.450   1.65   0.5500            190.0
388  23.50  7.30  7.900   1.20   3.7500           8065.0
389  25.75  8.05  7.450   1.65   0.5500            190.0

[390 rows x 6 columns]